.git/**
.github/**
.gitignore
.husky/**
.vscode/**
.vscode-test/**
benchmark/**
coverage/**
AGENTS.md
node_modules/**
!node_modules/
!node_modules/@vscode/
!node_modules/@vscode/l10n/**
!node_modules/vscode-css-languageservice/**
!node_modules/vscode-languageserver-textdocument/**
!node_modules/vscode-languageserver-types/**
!node_modules/vscode-uri/**
spec/**
test/**
*.vsix
*.zip
.prettierignore
.prettierrc.json
commitlint.config.js
dist/**/*.map
in-browser-testing-build.js
in-browser-testing-lib.ts
index.html
index.js
jsr.json
playwright.config.ts
tsup.config.ts
typedoc.json
package-lock.json
src/**
tsconfig.json
